@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #111111;
  --color-muted: #f3f4f6;
  --color-border: #e5e7eb;
  
  --font-sans: var(--font-inter);
}

:root {
  color-scheme: light;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
